.oldenburg-regular {
    font-family: "Oldenburg", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #fcf4d9;
}

#form {
    border: 1px;
    border-style: solid;
    border-color: #672a3f;
    padding: 1rem;
    width: 40rem;
    max-width: 80%;
    font-family: "Oldenburg", serif;
    margin-top: 2rem;
    padding-top: 0rem;
}

#forgotPassword {
    padding: 0rem;
    background-color: #fcf4d9;
    color: #672a3f;
    border: 0px;
    font-size: small;

}

#mainDiv {
    display: flex;
    flex-direction: column;
}

#form-header {
    font-family: "Oldenburg", serif;
    text-align: center;
    padding: 0.1rem ;
    background-color: #672a3f;
    color: #fcf4d9;
    font-size: large;
}

