
.metamorphous-regular {
font-family: "Metamorphous", serif;
font-weight: 400;
font-style: normal;
}



.navbar {
position: sticky;
top: 0;
right: 0;
padding: 5px 5px;
background-color: #672a3f;
display: flex;
gap: 10px;
font-family: "Metamorphous", serif;

}

.navbar a {
color: #fcf4d9;
text-decoration: none;
font-size: 16px;
padding: 5px 10px;
border-radius: 1px;
transition: background-color 0.3s;
}

.navbar a:hover {
background-color: #575757;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropbtn {
background-color: #672a3f;
color: #fcf4d9;
border: none;
padding: 4px 15px;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
font-family: "Metamorphous", serif;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 150px;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
border-radius: 5px;
}

.dropdown-content a {
color: black;
padding: 10px 15px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #575757;
}

.navbar .icon {
    display: none;
  }


  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }