.defined-external {
    background-color: yellow;
}

.customClass {
    color:blue;
    margin:10px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: bisque;
    border: 1px solid black;
}